body {
  background: black;
}
.muimg {
  height:200px;
  background: #aaa;
}
#heading {
background: black;
color:white;
}
.heading{
  background: black;
  color:whitesmoke;

}
#footer {
  background: black;
  color: yellow;
}
